# Webhooks

<aside class="warning">!!! UNDER CONSTRUCTION !!!</aside>

Our early-adopter partners have requested push notifications in the event of the following conditions:
<ul>
  <li>Extreme cryptocurrency price volatility (e.g. a drop of >20% within a 24-hour period)</li>
  <li>Customers' loan-to-value (LTV) exceeds a given threshold.</li>
</ul>

In both of these situations the partner may choose to sell a portion of their customers' collateral to manage risk. New webhook API's are coming soon to faciliate proactive notifications and alerts to meet these needs.

<bold>Register <a href="http://example.com">here</a> to be notified when it becomes available!</bold>

